/* ````````````````````````````````````````````````````````````````````````````````````````` */
/* Shop */

.common-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: black;
}

.shop-container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: .5fr 1.5fr 0.6fr; 
    background: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;

}

.pl-4, .px-4 {
    padding-left: 1.5rem !important;
}

.capsulecorp {
    width: 100%;
    height: auto;
}
  
.capsule {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.col {
    flex: 1 0 0%;
    margin: auto;
}
  
.shop-info {
    display: grid; 
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    align-self: center;
    padding: 5%;
    margin-top: 10px;
}
  
.mb-4 {
    color: white;
    justify-self: center;
    align-self: center;
    padding: 5%;
    margin-top: 10px;
}
  
.shop-nft {
    display: grid; 
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
    align-self: center;
    padding: 5%;
    margin-top: 10px;
}
  
/* shop page button styling */
.shop-button {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: center;
    align-self: center;
    padding: 5px 20px;
    margin-top: 10px;
    
	  border-radius:28px;
	  display:inline-block;
	  cursor:pointer;
	  color:#ffffff;
	  font-size:17px;
	  text-shadow:black;
}

.buy-button-style {
    text-decoration:none;
    font-family: 'Arial Narrow Bold', sans-serif;
}

@media screen and (max-width: 960px) {

  .shop-container {
    margin: auto !important;
    padding: 1.5rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
  }
    
}